RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
AuthType Basic
AuthName "Password Protection"
AuthBasicProvider file
AuthUserFile /.htpasswd
<FilesMatch “[excluse.html]”>
Require valid-user
</FilesMatch>
