RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

AuthUserFile .htpasswd
AuthType Basic
AuthName "My Secret Page"

<Files "excluse.html">
  Require valid-user
</Files>